.contenedor-mdodal-geo {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: rgba(80, 80, 80, 0.35);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.modal-geo {  
  background-color: rgb(238, 236, 240);
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.15),
    0 8px 20px rgba(0, 0, 0, 0.12),
    0 15px 35px rgba(0, 0, 0, 0.08);  
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 200px;
  gap: 10px;
}

.texto {
  color: white;
  text-align: center;
  line-height: 1.5;
}
.modal-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-btn button {  
  padding: 8.8px 24px;
  border: none;
  border-radius: 20px;
  background-color: #22C55E;
  color: white;

  text-align: center;
  
}

@media(max-width:768px){
  .modal-geo {
    width: 90%;
  }
}